<launch>

    <param name="wheel_base" value="0.16" type="double"/>
    <param name="wheel_radius" value="0.033" type="double"/>
    <param name="odom_frame_id" value="odom" type="string"/>
    <param name="body_frame_id" value="base_footprint" type="string"/>
    <param name="left_wheel_joint" value="wheel_left_link" type="string"/>
    <param name="right_wheel_joint" value="wheel_right_link" type="string"/>
    <param name="noise_mean" value="0.0" type="double"/>
    <param name="noise_variance" value="0.01" type="double"/>
    <param name="slip_min" value="-0.05" type="double"/>
    <param name="slip_max" value="0.05" type="double"/>
    <rosparam param="x_coords">[1.0, 2.0, 3.0]</rosparam>
    <rosparam param="y_coords">[1.0, 2.0, 3.0]</rosparam>
    <rosparam param="covariance_matrix_0">[1.0, 1.0]</rosparam>
    <rosparam param="covariance_matrix_1">[1.0, 1.0]</rosparam>
    <param name="obst_radius" value="0.0762" type="double"/>
    <param name="obst_max_dist" value="2.0" type="double"/>
    <param name="tube_var" value="0.01" type="double"/>

    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard" output="log" launch-prefix="gnome-terminal --command" />
    <node name="odometer" pkg="rigid2d" type="odometer"/>
    <node name="tube_world" pkg="nurtlesim" type="tube_world" output="screen"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rigid2d)/config/rviz_view.rviz"/>    
    
</launch>

