<?xml version="1.0" ?>
<launch>
    <arg name="circle" default="true" doc="whether to use follow_circle node"/>
    <arg name="robot" default="localhost" doc="hostname of turtlebot" />

    <include file="$(find nuturtle_robot)/launch/basic_remote.launch">
        <arg name="robot" value="$(arg robot)"/>
    </include>

    <node pkg="nuturtle_robot" type="follow_circle" name="follow_circle" if="$(arg circle)" output="screen">
        <param name="~circle_radius" value="0.3" type="double"/>
    </node>
    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard" unless="$(arg circle)" output="log" launch-prefix="gnome-terminal --command" />

    <node pkg="nuturtle_robot" type="turtle_interface" name="turtle_interface" output="screen"/>
    <node name="odometer" pkg="rigid2d" type="odometer" output="screen"/>


    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find nuturtle_robot)/config/rviz_view.rviz"/>    
</launch>
