<launch>
    <arg name="use_odom" default="false" doc="whether to use odometer or slam node"/>
    <arg name="robot" default="localhost" doc="hostname of turtlebot" />

    <include file="$(find nurtlesim)/launch/tube_world.launch">
        <arg name="use_odom" value="$(arg use_odom)"/>
    </include>

    <group unless="$(arg use_odom)">
        <node name="slam" pkg="nuslam" type="slam"  output="screen" if="$(eval robot == 'localhost')"/>
    </group>

</launch>

