<launch>
    <arg name="use_rviz" default="true" doc="whether to display turtlebot3_burger in rviz"/>
    <rosparam command="load" file="$(find nuturtle_description)/config/diff_param.yaml"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro" />
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg use_rviz)" />
    <node pkg="rviz" if="$(arg use_rviz)" name="rviz" type="rviz" args="-d $(find nuturtle_description)/config/rviz_view.rviz"/>    
    
</launch>
